*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 25px;
     background-color: rgb(233, 233, 233);
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body * {
     font-family: 'Inter', sans-serif;
}

.bar {
     padding: 2px;
     display: flex;
     align-items: center;
     gap: 5px;
     border-radius: 30px;
     height: 50px;
     width: 46%;
     background-color: rgb(155, 155, 155);
}

input{
     height: 40px;
     align-self: flex-start;
     border: none;
     border-radius: 30px;
     flex: 2;
     max-width: 75%;
     text-align: center;
}

.tooltip{
     opacity: 70%;
     border-radius: 5px;
     position: relative;
     background-color: #a7a7a7;
     border: 1px solid #ccc;
     padding: 10px;
     display: none;
     font-weight: 750;
}

table{
     
     border-collapse: collapse;
     width: 80%;
     justify-content: center;
}

th, td{
     border: 1px solid #a8a8a8;
     padding: 5px;
     width: 400px;
} 

.colunaId{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     background-color: rgb(162, 162, 247);
     text-align: center;
     border-radius: 12px 12px 0px 0px;
     border: none;
     font-size: 20px;  
     width: 10%;
}
.colunaName{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     background-color: rgb(162, 162, 247);
     text-align: center;
     border-radius: 12px 12px 0px 0px;
     border: none;
     font-size: 25px;  
}

button{
     display: flex;
     flex-direction: row;
     height: 40px;
     align-items: center;
     background-color: rgb(152, 152, 223);
     border: none;
     border-radius: 20px;
     cursor: pointer;
     justify-content: center;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
     padding: 15px;
}

button:hover{
     background-color: rgb(128, 128, 252);
     
}

#winners{
     width: 400px;
     height: 300px;
     background-color: #ca6868;
     border-radius: 5px;
     padding: 20px;
}



